{% extends 'base.html.twig' %}

{% block title %}New Check{% endblock %}

{% block body %}
    <h1>Create new Check</h1>

    {{ include('check/_form.html.twig') }}

    <a href="{{ path('app_check_index') }}">back to list</a>
{% endblock %}
